<!DOCTYPE html>

<html>
  <head>
    <title>Mahamoti - Your personal life logger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

      {% for form in forms %}
          <p>
          {% for field in form %}
          {{ render_field(field) }}
          {% endfor %}
          </p>
      {% endfor %}
  </body>
</html>
